includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Called .env. outside of the config directory#'
        - '#Trait AlizHarb\\Themer\\Traits\\HasThemeLayout is used zero times#'
        - '#Unresolvable dependency resolving \[Parameter .*\] in class Illuminate\\Support\\ServiceProvider#'
        - '#Class AlizHarb\\Modular\\Livewire\\Commands\\ModularLivewireMakeCommand not found.#'

    reportUnmatchedIgnoredErrors: false
